<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="/apiInfo/user">User</a>
        </div>
        <div class="bd-toc-item"></div>
    </nav>
</div>